[Unit]
Description=Nylon Service
After=network-online.target

[Service]
ExecStart=/usr/bin/nylon run
WorkingDirectory=/home/encodeous

[Install]
WantedBy=multi-user.target