[Unit]
Description=Nylon Service
After=network-online.target

[Service]
ExecStart=/usr/bin/nylon run -vgtw
WorkingDirectory=/home/encodeous
Environment=OTEL_EXPORTER_OTLP_ENDPOINT=http://10.0.0.4:4317

[Install]
WantedBy=multi-user.target